{% extends 'base.html.twig' %}

{% block title %}Результаты поиска{% endblock %}

{% block body %}

<div class="align-content-center justify-content-center">
    <h1>Страница находится на стадии разработки *.*</h1>
</div>
<div class="container">

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="fa fa-arrow-left page-link" href="#"></a></li>
        <li class="page-item"><a class="fa page-link" href="#">1</a></li>
        <li class="page-item"><a class="fa page-link" href="#">2</a></li>
        <li class="page-item"><a class="fa page-link" href="#">3</a></li>
        <li class="page-item"><a class="fa fa-arrow-right page-link" href="#"></a></li>
    </ul>
</nav>

{% endblock %}

