{# templates/list/index.html.twig #} {% extends 'base.html.twig' %}
{% block body %}
    <main>
        <!-- main -->
        <div class="main main--inner">

            <div class="wrap">

                <div class="page">
                    <div class="page__left">
                        <h1 class="h1">Наши Работы</h1>
                        <table class="table">
                            <tr>
                                <th>Company Name</th>
                                <th>Market Value</th>
                            </tr>
{#                            {% for key, item in companies %}#}
{#                                <tr>#}
{#                                    <td>{{ key }}</td>#}
{#                                    <td>{{ item }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
                            ​<img src="images/image_1.jpg" class="img-thumbnail" alt="Cinque Terre">
                        </table>

                    </div>
                </div>

            </div>

        </div>
        <!-- // main -->
    </main>
{% endblock %}
