{% extends 'base.html.twig' %}

{% block title %} О Нас {% endblock %}

{% block body %}
    <div class="border-top py-lg-5"></div>

    <div class="container text-center text-dark">
        <h3> Наши услуги </h3>
        <table class="table table-hover">
            <tr>
                <td class="col-md-6">
                    <div class="main-print-holst">
                        <div class="wrap">
                            <div class="two">
                                <div class="two__cell two__cell--img">
                                    <img src="/uploads/2019-10/43-39b736790f6dc3e13630a1227a1f7e55.jpg" alt="">
                                </div>
                                <div class="two__cell">
                                    <div class="two__cell__text">
                                        <div class="h">Печать на холсте и натяжка на подрамник</div>
                                        <div class="h">Если вы хотите видеть у себя дома репродукцию знаменитой картины или увеличить срок жизни памятной фотографии, а может украсить стену модульной картиной, то печать на холсте – отличное решение.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col-md-6">
                    <div class="main-print-holst">
                        <div class="wrap">
                            <div class="two">
                                <div class="two__cell two__cell--img">
                                    <img src="/uploads/2019-10/43-39b736790f6dc3e13630a1227a1f7e55.jpg" alt="">
                                </div>
                                <div class="two__cell">
                                    <div class="two__cell__text">
                                        <div class="h">Печать на холсте и натяжка на подрамник</div>
                                        <div class="p">Если вы хотите видеть у себя дома репродукцию знаменитой картины или увеличить срок жизни памятной фотографии, а может украсить стену модульной картиной, то печать на холсте – отличное решение.</div>
                                        <a href="/page/podramnik" class="btn-bord">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col-md-6">
                    <div class="main-print-holst">
                        <div class="wrap">
                            <div class="two">
                                <div class="two__cell two__cell--img">
                                    <img src="/uploads/2019-10/43-39b736790f6dc3e13630a1227a1f7e55.jpg" alt="">
                                </div>
                                <div class="two__cell">
                                    <div class="two__cell__text">
                                        <div class="h">Печать на холсте и натяжка на подрамник</div>
                                        <div class="p">Если вы хотите видеть у себя дома репродукцию знаменитой картины или увеличить срок жизни памятной фотографии, а может украсить стену модульной картиной, то печать на холсте – отличное решение.</div>
                                        <a href="/page/podramnik" class="btn-bord">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="col-md-6">
                    <div class="main-print-holst">
                        <div class="wrap">
                            <div class="two">
                                <div class="two__cell two__cell--img">
                                    <img src="/uploads/2019-10/43-39b736790f6dc3e13630a1227a1f7e55.jpg" alt="">
                                </div>
                                <div class="two__cell">
                                    <div class="two__cell__text">
                                        <div class="h">Печать на холсте и натяжка на подрамник</div>
                                        <div class="p">Если вы хотите видеть у себя дома репродукцию знаменитой картины или увеличить срок жизни памятной фотографии, а может украсить стену модульной картиной, то печать на холсте – отличное решение.</div>
                                        <a href="/page/podramnik" class="btn-bord">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        </div>
{% endblock %}
